version: '3.8'

services:
  bot:
    build: .
    container_name: ttp_bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_PORT: 3306
    depends_on:
      - db
    ports:
      - "8000:8000"
    command: ["/bin/sh", "-c", "sleep 10 && python main.py"]

  db:
    image: mysql:8.0
    container_name: ttp_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"

volumes:
  db_data:
